.carta {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    
    align-items: center;

    background-color: white;
    box-shadow: 0rem 0.3rem 0.8rem #0000003d;
    
    color: #525252;
    font-weight: 200;
    text-align: center;
    margin: 1rem;
}

.carta-img {
    max-width: 80%;
}

.carta h2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}